---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const tags = [...new Set(posts.flatMap(post => post.data.tags))];
  
  return tags.map(tag => ({
    params: { tag },
    props: { 
      posts: posts.filter(post => post.data.tags.includes(tag))
    },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={`Posts tagged with #${tag}`}>
  <h1>Posts tagged with #{tag}</h1>
  <ul class="post-list">
    {posts.map(post => (
      <li class="post-item">
        <a href={`/blog/${post.slug}`} class="post-title">{post.data.title}</a>
        <div class="post-meta">
          {new Date(post.data.date).toLocaleDateString('ja-JP')}
        </div>
        <p>{post.data.description}</p>
        <div class="tags">
          {post.data.tags.map(t => (
            <a href={`/tags/${t}`} class="tag">#{t}</a>
          ))}
        </div>
      </li>
    ))}
  </ul>
</Layout>